<!DOCTYPE html>

<html>

<head>
    <title>Recipe Blog</title>
</head>
<body>
<h1>Post</h1>
    <form method="POST">
        <input type="text" name="title" ><br>
        <textarea name="content" > </textarea><br>
        <button type="submit">Submit form</button>
    </form>

<h2>List</h2>
    <ul>
<!-- format comes from jinja, automatically imported using flask -->
        {% for post in posts %}
        <li>{{post['title']}} {{post['content']}}</li>
        {% endfor %}
    </ul>

</body>
</html>